$color-primary1 : #2F51E0;
$color-shadow: gray;
$background-color: #F5F5F5;
$color-secundary1: #8AC355;
$color-secundary2: #629B32;

*{
	font-family: sans-serif;
}
body{
	margin: 0px;
	padding: 0px;
	font-size: 13px;
}

/** General Styles **/
.center-vertical{
	display: flex;
	align-items: center;
}

.separator-vertical{
	margin-top: 15px;
}

.form-divided-2{
	display: grid;
	grid-template-columns: 49% 49%;
	grid-column-gap: 2%;
}

/** General Styles **/

/** pages/Login.js **/

.login-background{
	position: absolute;
	width: 90%;
	height: 200%;
	top: -120%;
	left: -10%;
	border-radius: 100%;
	background: url("../images/background.jpeg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: bottom;
	z-index: -1;
	filter: brightness(50%);
}
.login-sketch{
	display: grid;
	grid-template-columns: 70% 30%;
	width: 80%;
	margin: auto;
	margin-top: 12%;
}
.login-form{
	border-radius: 20px;
	background: white;
	width: calc(100% - 120px);
	padding: 20px 60px 60px 60px;
	box-shadow: 0px 0px 30px $color-shadow;
	text-align: center;
}
.button-login{
	width: 100%;
	padding: 10px 0px;
	background: $color-primary1;
	color: white;
	border: solid 1px $color-primary1;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 30px;
	&:hover{
		opacity: 0.8;
	}
}
.input-login{
	width: calc(100% - 30px);
	text-align: left;
	padding: 10px 15px;
	background: white;
	border: solid 0px transparent;
	box-shadow: 0px 0px 10px $color-shadow;
	outline: none;
	margin-top: 5px;
}
.login-title{
	color: white;
}
.footer-login{
	text-align: center;
	position: absolute;
	bottom: 20px;
	width: 100%;
}
/** pages/Login.js **/

/** components/LoadingScreen.js **/

.loading-screen{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	color: white;
	display: none;
}
.loading-screen-show{
	display: flex;
	align-items: center;
	text-align: center;
}
.loading-screen-text{
	width: 100%;
	text-align: center;
}
.loading-dots{
	font-size: 200px;
	line-height: 200px;
}
.dot-elastic {
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: white;
	color: white;
	margin: auto;
	animation: dotElastic 1s infinite linear;
	&:before {
		left: -50px;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background-color: white;
		color: white;
		animation: dotElasticBefore 1s infinite linear;
	}
	&:after {
		left: 50px;
		width: 40px;
		height: 40px;
		border-radius: 100%;
		background-color: white;
		color: white;
		animation: dotElasticAfter 1s infinite linear;
	}
}
.dot-elastic::before, .dot-elastic::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
}

@keyframes dotElasticBefore {
	0% {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(1, 1.5);
	}
	50% {
		transform: scale(1, 0.67);
	}
	75% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}

@keyframes dotElastic {
	0% {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1, 1.5);
	}
	75% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}

@keyframes dotElasticAfter {
	0% {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1, 0.67);
	}
	75% {
		transform: scale(1, 1.5);
	}
	100% {
		transform: scale(1, 1);
	}
}

/** components/LoadingScreen.js **/


/**  **/
.dashboard{
	width: 100%;
	display: grid;
	grid-template-columns: 6% 94%;
	height: 100%;
	min-height: 620px;
}
.dashboard-open-menu{
	display: grid;
	grid-template-columns: 20% 80%;
}
.dashboard-content{
	width: 100%;
	background: $background-color;
}
.dashboard-menu{
	width: 100%;
	background: linear-gradient(#44AFED, #1C48AA);
	color: white;
	padding-top: 20px;
}
.dashboard-open-menu{
	.dasboard-menu-item-text, .dasboard-menu-item-row{
		display: block;
	}
}




/**   **/


/** GENERIC DASHBOARD **/
section{
	background: white;
	padding: 10px 15px;
	border-radius: 6px;
}
.section-title{
	padding: 10px 15px;
	display: grid;
	grid-template-columns: 40px 80% calc(20% - 40px);
	color: $color-primary1;
	font-size: 15px;
	.section-title-icon{
		font-size: 24px;
	}
}

.btn-primary{
	width: 100%;
	padding: 8px 0px;
	background: $color-primary1;
	color: white;
	border: solid 1px $color-primary1;
	cursor: pointer;
	border-radius: 5px;
	&:hover{
		opacity: 0.8;
	}
}
.btn-secundary{
	padding: 8px 10px;
	background: linear-gradient(to right, $color-secundary1, $color-secundary2);
	color: white;
	border: solid 1px $color-secundary1;
	cursor: pointer;
	border-radius: 5px;
	&:hover{
		opacity: 0.8;
	}
}
.btn-clean{
	padding: 8px 10px;
	background: white;
	color: $color-secundary2;
	border: solid 1px $color-secundary1;
	cursor: pointer;
	border-radius: 5px;
	&:hover{
		opacity: 0.8;
	}
}
.btn-container-2{
	display: grid;
	grid-template-columns: 50% 50%;
}
/** GENERIC DASHBOARD **/

/** components/Modal.js **/
.modal-btn-close{
	border: none;
	background: transparent;
	cursor: pointer;
	font-size: 18px;
	&:hover{
		opacity: 0.5;
	}
}
.modal-background{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(2px);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	display: none;
}
.modal{
	z-index: 1001;
	background: white;
	position: fixed;
	border-radius: 4px;
	display: none;
	transition: all 2s;
	top: 5%;
}
.open{
	display: block;
}
.modal-1{
	left: 38%;
	top: 5%;
	width: 24%;
	height: fit-content !important;

	.modal-body{
		min-height: 30px;
		padding-top: 0px;
		h2, h3{
			margin: 0px;
		}
	}
}
.modal-2{
	left: 30%;
	top: 5%;
	width: 40%;
}
.modal-3{
	left: 15%;
	top: 5%;
	width: 70%;
}
.modal-header{
	display: grid;
	grid-template-columns: calc(100% - 30px) 30px;
	border-bottom: 2px solid $background-color;
	width: calc(95% - 20px);
	margin: auto;
	margin-bottom: 20px;
	font-size: 15px;
	padding: 15px 10px;
}
.modal-body{
	overflow: auto;
	width: calc(95% - 20px);
	padding: 15px 15px;
	height: fit-content;
	min-height: 300px;
}
/** components/Modal.js **/

/** components/DashboardMenuItem.js **/

.dasboard-menu-item{
	padding: 10px 15px;
	width: calc(100% - 60px);
	margin: auto;
	display: grid;
	grid-template-columns: 40px auto 10px;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 10px;
}
.dasboard-menu-item-internal{
	padding-left: 25px;
	display: none;
}
.dasboard-menu-item-internal-open{
	display: grid;
}
.dasboard-menu-item-hover{
	&:hover{
		background: rgba(255, 255, 255, 0.5);
	}
}

.dasboard-menu-item-icon{
	font-size: 25px;
	text-align: center;
}
.dasboard-menu-item-row{
	line-height: 25px;
	display: none;
}
.dasboard-menu-item-text{
	display: none;
	line-height: 25px;
	p{
		margin: 0px;
		padding: 0px;
	}
}
hr{
	width: 90%;
	margin: auto;
	border: solid 1px white;
}
/** components/DashboardMenuItem.js **/

/** components/DashboardHeader.js **/
.close-menu-nav-mobile{
	display: none;
}
header{
	width: calc(100% - 60px);
	padding: 15px 30px;
	background: white;
	display: grid;
	grid-template-columns: 5% 65% 25% 5%;
	color: $color-primary1;
	h2{
		margin: 0px;
		padding: 0px;
	}
}
.header-button{
	border: none;
	background: transparent;
	color: $color-primary1;
	font-size: 25px;
	cursor: pointer;
	&:hover{
		opacity: 0.8;
	}
}

.header-user{
	display: grid;
	grid-template-columns: 30px auto;
	grid-column-gap: 5px;
	color: black;
	cursor: pointer;
	border-radius: 5px;
	padding: 2px 15px;
	width: fit-content;
	&:hover{
		background: rgba(0, 0, 0, 0.1);
	}
}
.header-user-icon{
	font-size: 25px;
	border-radius: 100%;
	border: solid 1px $background-color;
	width: 25px;
	height: 25px;
	overflow: hidden;
	background: white;
}
.header-user-name{
}

/** components/DashboardHeader.js **/

/** containers/DashboardContent **/

.dashboard-body{
	width: calc(100% - 20px);
	margin: auto;
	margin-top: 15px;
}

/** containers/DashboardContent **/

/** pages/screen/DashboardUsuarios **/

.tabla-view{
	display: grid;
	grid-template-columns: 80% calc(20% - 10px);
	grid-column-gap: 10px;
}

/** pages/screen/DashboardUsuarios **/

/** components/Table.js **/
table{
	width: 100%;
	border-collapse: collapse;
	border: none;
	th{
		border-bottom: 2px solid #CCCCCC;
		text-align: left;
		color: #333333;
	}
	td, th{
		padding: 8px 1px;
	}
	td{
		color: #9A9A9A;
		border-bottom: 1px solid #CCCCCC;
	}
}
.table-paginator{
	margin-top: 30px;
	float: right;
}
ul.paginador{
	list-style: none;
	padding: 0px;
	margin: 0px;
	li{
		border-radius: 5px;
		padding: 2px 2px;
		width: 15px;
		height: 15px;
		float: left;
		cursor: pointer;
		text-align: center;
		&:hover{
			background: $color-primary1;
			color: white;
		}
	}
}
.paginador-selected{
	background: $color-primary1;
	color: white;
}
.clear-both{
	clear: both;
}
.table-btn {
	border: none;
	background: none;
	cursor: pointer;
	&:hover{
		opacity: 0.5;
	}
}
.btn-edit{
	color: $color-primary1;
}
.btn-delete {
	color: red;
}

/** components/Table.js **/


/** formcomponents/FormInputText.js **/

.input-text{
	border: solid 1px #E7E7E7;
	border-radius: 4px;
	padding: 5px 10px;
	width: calc(100% - 20px);
	outline: none;
}
.label-input-text{
	color: #9A9A9A;
}

.input-password{
	position: relative;
	button{
		width: 30px;
		height: 30px;
		border: none;
		background: none;
		color: $color-primary1;
		font-size: 20px;
		position: absolute;
		right: 0px;
		line-height: 20px;
		top: calc(50% - 12px);
		outline: none;
	}
}
/** formcomponents/FormInputText.js **/

/** components/DashboardFooter **/

.dashboard-footer{
	width: calc(100% - 40px);
	background: white;
	padding: 30px 20px;
	text-align: right;
	margin-top: 20px;
	border-radius: 5px;
	color: $color-shadow;
}

/** components/DashboardFooter **/


.construction{
	min-height: 400px;
	h2{
		text-align: center;
		color: #9A9A9A;
	}
}
