
@media (max-width: 1230px){
	.dashboard{
		min-height: 930px;
	}
}


@media (min-width: 768px) and (max-width: 1100px) {

}


@media (max-width: 767px) {

	/** pages/Login.js **/

	.login-background{
		width: 100%;
		top: 0px;
		left: 0px;
		height: 50%;
		border-radius: 5px;
		background-size: 100% 100%;
	}

	.login-sketch{
		display: block;
		width: 80%;
		margin: auto;
		margin-top: 20%;
	}

	/** pages/Login.js **/


	.table-container{
		overflow: auto;
	}

	/** pages/screen/DashboardUsuarios **/

	.tabla-view{
		display: block;
		section{
			margin-top: 10px;
		}
	}

	/** pages/screen/DashboardUsuarios **/

	/**  **/

	.dashboard{
		width: 100%;
		display: grid;
		grid-template-columns: 0% 100%;
		height: 100%;
		min-height: 700px;
	}

	.dashboard-open-menu{
		.dashboard-menu{
			position: fixed;
			left: 0px;
			top: 0px;
			width: 80%;
			height: 100%;
			z-index: 10;
			&:before{
				content: " ";
				left: 0px;
				top: 0px;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.5);
			}
			.close-menu-nav-mobile{
				display: block;
			}
		}
	}

	/** **/

	/** components/DashboardHeader.js **/

	header{
		width: calc(100% - 60px);
		padding: 15px 30px;
		background: white;
		display: grid;
		grid-template-columns: 20% 50% 20% 10%;
		h2{
			font-size: 15px;
		}
		.header-user-name{
			display: none;
		}
	}

	.close-menu-nav-mobile{
		width: 30px;
		height: 30px;
		background: gray;
		right: 0px;
		top: 0px;
		border: none;
		position: fixed;
		color: white;
		display: none;
	}
	/** components/DashboardHeader.js **/

	/** GENERIC DASHBOARD **/
	.section-title{
		padding: 10px 5px;
		display: grid;
		grid-template-columns: 40px 60% calc(40% - 40px);
	}

	.modal-1, .modal-2, .modal-3{
		width: 95%;
		left: 2.5%;
		top: 20px;
	}
	/** GENERIC DASHBOARD **/

}
